<div class="box">
    <h1 style="text-shadow:2px 2px purple;">About</h1>
 
    <b><p style="font-size: 1.2em; align-items: end;"> We present ourselves as one of the leading service providers
        in the domain of Transportation and Packing and Moving. We started our transport service
        under the name Usha Lakshmi Carriers in the year 2000 which is consistently growing to become
        one of the most popular and trusted transport service. We are proud to have a very experienced
        team of packers and well qualified drivers who possess all the required skills to carry out
        various operations smoothly and efficiently. Our expertise in the particular domain has enabled
        us to become one of the leading transport services in Coimbatore. Our range of our operations
        is spread from Tirunelveli, Madurai Chennai and to neighboring districts in Tamil Nadu.
        We share a cordial relationship with our clients and have accumulated their admiration and trust.
        We have always ensured the maximum customer appreciation through our dedicated and sincere service
        delivery. We are always on our toes to attend even the most minor problems of our clients.
        Our company owns a spacious office at Sringeri Nagar North, Bye Pass Road, Madurai.
        We give whole credit
        of our success to our employees and we take care of their welfare and benefits. 
    </p></b>
    <img class="img2" src="assets/t5.png" alt="image" class="d-block mx-auto">
    <b><p style="font-size: 1.2em; align-items: end;">Regular Parcel service is the core of our business. The Company also provides the option of door
         collection and door delivery to the customers at a cost. The Priority Cargo business involves door-to-door
          delivery in a time bound manner Services.
         We provide our customers with billing, collection, pick-up and delivery services.
         Online Logistics Packers And Movers Domestic Cargo is a reputed company that provides quality packing
          and moving services all over India. We take utmost care while handling your belongings and ensure safe
           delivery at your doorstep. Our well-trained staff uses latest packing materials and techniques to pack
            your items securely. We also provide insurance coverage for your belongings during transit.
          We have a wide network of branches all over India and can cater to your needs quickly and efficiently.</p></b>
</div>
<br><br>
    <footer>
        <div class="footer-col">
            <h4>MAHA</h4>
            <ul>
                <li><a href="#"> 18.7.267, Union School Street,</a></li>
            <li><a href="#">Surandai-627 859.</a></li>
            <li><a href="#">Phone: 6381634591</a></li>
            <li><a href="#">Email:ak2maha@gmail.com</a></li>
            </ul>
        </div>
        <div class="footer-col">
            <h4>Company</h4>
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Service</a></li>
                <li><a href="#">contact</a></li>
                <li><a href="#">Location</a></li>
            </ul>
        </div>
        <div class="footer-col">
            <h4>Services</h4>
            <ul>
                <li><a href="#"> Full Truck Carriers</a></li>
                <li><a href="#">Part Load Carriers</a></li>
                <li><a href="#">Ware House Service</a></li>
                <li><a href="#">Delivery to Shipment</a></li>
            </ul>
        </div>
        <div class="footer-col">
            <h4>follow us</h4>
            <div class="links">
                <a href="https://wa.me/6381634591"><i class="fab fa-whatsapp"></i></a>
                <a href="https://www.facebook.com/username/"><i class="fab fa-facebook-f"></i></a>
                <a href="https://twitter.com/username"><i class="fab fa-twitter"></i></a>
                <a href="https://www.instagram.com/username/"><i class="fab fa-instagram"></i></a>
            </div>
        </div>
    </footer>



