<br>
<div class="content-container " style="background-color: blanchedalmond;">
    <b><p style="font-size: 1.4em;">Online Logistics Packers and Movers is a courier and cargo services company that has been providing quality service to customers for over two decades. The company offers a range of services, including domestic and international courier services, cargo services, and package delivery. Online Logistics Packers and Movers is known for its commitment to customer satisfaction,
         as well as its affordable prices</p></b>
    <b><p style="font-size: 1.4em;">The company has a large network of agents located throughout the country, 
        which allows it to provide quick and efficient service to customers no matter where they are located.
         Online Logistics Packers and Movers also offers online tracking of packages so customers can keep track
          of their shipments at all times.

        The company has a reputation for being reliable and trustworthy, and it
         is one of the most popular courier and cargo services companies in Tamilnadu.</p></b>
    
</div>
<div class="container" style="padding: 50px 20px;">
    <div class="row">
        <div class="col-lg-3 mb-4">
            <div class="shadow-lg bg-white rounded p-4">
              
                <b class="h4" style="text-shadow:0px 2px blue;">Full Truck Carriers</b><br><br>
                <img src="assets/service1.png" alt="image" class="d-block mx-auto img-fluid" style="max-width: 100%;" />
            </div>
        </div>
        <div class="col-lg-3 mb-4">
            <div class="shadow-lg bg-white rounded p-4">
                <b class="h4" style="text-shadow:0px 2px blue;">Part Load Carriers</b><br><br>
                <img src="assets/service2.png" alt="image" class="d-block mx-auto img-fluid" style="max-width: 100%;" />
            </div>
        </div>
        <div class="col-lg-3 mb-4">
            <div class="shadow-lg bg-white rounded p-4">
                <b class="h4" style="text-shadow:0px 2px blue;">Ware House Service</b><br><br>
                <img src="assets/service3.png" alt="image" class="d-block mx-auto img-fluid" style="max-width: 100%;" />
            </div>
        </div>
        <div class="col-lg-3 mb-4">
            <div class="shadow-lg bg-white rounded p-4">
                <b class="h4" style="text-shadow:0px 2px blue;"> Delivery  to Shipment</b><br><br>
                <img src="assets/service4.png" alt="image" class="d-block mx-auto img-fluid" style="max-width: 100%;" />
            </div>
        </div>
    </div>
</div>
<br><br>
    <footer>
        <div class="footer-col">
            <h4>MAHA</h4>
            <ul>
                <li><a href="#"> 18.7.267, Union School Street,</a></li>
            <li><a href="#">Surandai-627 859.</a></li>
            <li><a href="#">Phone: 6381634591</a></li>
            <li><a href="#">Email:ak2maha@gmail.com</a></li>
            </ul>
        </div>
        <div class="footer-col">
            <h4>Company</h4>
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Service</a></li>
                <li><a href="#">contact</a></li>
                <li><a href="#">Location</a></li>
            </ul>
        </div>
        <div class="footer-col">
            <h4>Services</h4>
            <ul>
                <li><a href="#"> Full Truck Carriers</a></li>
                <li><a href="#">Part Load Carriers</a></li>
                <li><a href="#">Ware House Service</a></li>
                <li><a href="#">Delivery to Shipment</a></li>
            </ul>
        </div>
        <div class="footer-col">
            <h4>follow us</h4>
            <div class="links">
                <a href="https://wa.me/6381634591"><i class="fab fa-whatsapp"></i></a>
                <a href="https://www.facebook.com/username/"><i class="fab fa-facebook-f"></i></a>
                <a href="https://twitter.com/username"><i class="fab fa-twitter"></i></a>
                <a href="https://www.instagram.com/username/"><i class="fab fa-instagram"></i></a>
            </div>
        </div>
    </footer>




