<!-- <br><br> -->
<!-- <img src="assets/contact1.png" alt="image" class="d-block mx-auto img-fluid" style="max-width: 100%;" /> -->

<br>
<div id="contact" class="container-fluid" style="padding: 50px 20px;">
    <div class="row">
        <div class="col-lg-4 mb-4">
            <div class="shadow-lg bg-white rounded p-4">
                <b class="h4" style="text-shadow:0px 2px blue;"><i class="bi bi-geo-alt"></i> 
                    Location</b><br><br>
               18.7.267, Union School Surandai-627859.
            </div>
        </div>
        <div class="col-lg-4 mb-4">
            <div class="shadow-lg bg-white rounded p-4">
                <b class="h4" style="text-shadow:0px 2px blue;"><i class="bi bi-envelope-paper"></i> Email
                    Us</b><br><br>
                <a href="mailto:ak2maha@gmail.com" style="text-decoration: none; color: black;">ak2maha@gmail.com</a>
            </div>
        </div>
        <div class="col-lg-4 mb-4">
            <div class="shadow-lg bg-white rounded p-4">
                <b class="h4" style="text-shadow:0px 2px blue;"><i class="bi bi-telephone-inbound"></i> Call
                    Us</b><br><br>
                <a href="tel:+91 6381634591" style="text-decoration: none; color:black">Phone: +91 6381634591</a>
            </div>
        </div>
    </div>
</div>

<img src="assets/contact1.png" alt="image" class="d-block mx-auto " style="max-width: 100%;">


<br><br>
<footer>
    <div class="footer-col">
        <h4>MAHA</h4>
        <ul>
            <li><a href="#"> 18.7.267, Union School Street,</a></li>
            <li><a href="#">Surandai-627 859.</a></li>
            <li><a href="#">Phone: 6381634591</a></li>
            <li><a href="#">Email:ak2maha@gmail.com</a></li>
        </ul>




    </div>
    <div class="footer-col">
        <h4>Company</h4>
        <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">Service</a></li>
            <li><a href="#">contact</a></li>
            <li><a href="#">Location</a></li>
        </ul>
    </div>
    <div class="footer-col">
        <h4>Services</h4>
        <ul>
            <li><a href="#"> Full Truck Carriers</a></li>
            <li><a href="#">Part Load Carriers</a></li>
            <li><a href="#">Ware House Service</a></li>
            <li><a href="#">Delivery to Shipment</a></li>
        </ul>
    </div>
    <div class="footer-col">
        <h4>follow us</h4>
        <div class="links">
            <a href="https://wa.me/6381634591"><i class="fab fa-whatsapp"></i></a>
            <a href="https://www.facebook.com/username/"><i class="fab fa-facebook-f"></i></a>
            <a href="https://twitter.com/username"><i class="fab fa-twitter"></i></a>
            <a href="https://www.instagram.com/username/"><i class="fab fa-instagram"></i></a>
        </div>
    </div>
</footer>
<!-- linkedin-in -->





