<br><br>
<div class="container shadow-lg rounded-4" style="box-shadow: 0 4px 8px rgba(93, 10, 202, 0.2);">
    <br><br>
    <span class="d-flex justify-content-center">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d411.1583763905286!2d77.41475989637
        594!3d8.975583265757217!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3b042783f161560f%3A0xaaf9
        292d94be27c9!2sSurandai%2C%20Tamil%20Nadu!5e1!3m2!1sen!2sin!4v1700055981262!5m2!1sen!2sin" 
        width="530" height="348" style="border: 5px;" allowfullscreen="" loading="lazy" 
        referrerpolicy="no-referrer-when-downgrade"></iframe>
        
    </span><br>
    <h5 style="text-shadow:0px 2px black;text-align: center;"><i class="bi bi-geo-alt-fill"></i>MAHA Transport Service Location</h5>
</div>


<br><br>
    <footer>
        <div class="footer-col">
            <h4>MAHA</h4>
            <ul>
                <li><a href="#"> 18.7.267, Union School Street,</a></li>
            <li><a href="#">Surandai-627 859.</a></li>
            <li><a href="#">Phone: 6381634591</a></li>
            <li><a href="#">Email:ak2maha@gmail.com</a></li>
            </ul>
        </div>
        <div class="footer-col">
            <h4>Company</h4>
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Service</a></li>
                <li><a href="#">contact</a></li>
                <li><a href="#">Location</a></li>
            </ul>
        </div>
        <div class="footer-col">
            <h4>Services</h4>
            <ul>
                <li><a href="#"> Full Truck Carriers</a></li>
                <li><a href="#">Part Load Carriers</a></li>
                <li><a href="#">Ware House Service</a></li>
                <li><a href="#">Delivery to Shipment</a></li>
            </ul>
        </div>
        <div class="footer-col">
            <h4>follow us</h4>
            <div class="links">
                <a href="https://wa.me/6381634591"><i class="fab fa-whatsapp"></i></a>
                <a href="https://www.facebook.com/username/"><i class="fab fa-facebook-f"></i></a>
                <a href="https://twitter.com/username"><i class="fab fa-twitter"></i></a>
                <a href="https://www.instagram.com/username/"><i class="fab fa-instagram"></i></a>
            </div>
        </div>
    </footer>




